#tutorial{
  margin-left: 5%;
}
#porcentajesdiv{
  float: right;
  margin-left: -10%;
  font-size: 10px;
  position:sticky;
  background-color: #1E824C; conolor navidad
  /*background-color: #BFBFBF; color normal */
  border-radius: 5px;
}
body{
  background-color: #ECECEC !important;
  /*background-color: #D91E18;/*color navidad*/
  /*background-image: url("../img/xmas.jpg");*/
}
h1{
  /*color: black !important;*/
  color: #26A65B;
  text-align: center;
}
.col-md-4{
  /*background-color: #BFBFBF !important; color normal*/
  background-color: #26A65B;/*navidad */
  margin-left: 5%;
  border-radius: 5px;
  height: inherit;
}
.col-md-3{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;

}
#notasdiv{
  float: left;
  position: sticky;
  font-size: 10px;
  /*background-color: #BFBFBF; color normal*/
  background-color: #1E824C; /*navidada*/
  border-radius: 5px;
  /*background-color: #6C7A89;*/
}
hr{
  align-items: center;
  background-color: #CF000F;
  height: 3px;
  width: 50%;
}
#notasdiv>p>input{
  width: 150px;
}
#porcentajesdiv>p>input{
  width: 150px;
}
